.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 20;
  background-color: rgba(0, 0, 0, 0.75);
}

.modal {
  position: fixed;
  top: 8.5vh;
  left: 5%;
  width: 90%;
  background-color: white;
  padding: 0.7rem;
  border-radius: 14px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
  z-index: 30;
  animation: slide-down 300ms ease-out forwards;
}

@media (min-width: 500px) {
  .modal {
    width: 30rem;
    width: 40rem;
    left: calc(50% - 20rem);
    // background: red;
  }
}
@media (min-height: 710px) {
  .modal {
    width: 40rem;
    left: calc(50% - 20rem);
  }
}
@media (min-width: 768px) {
  .modal {
    // background: blue;
    width: 40rem;
    left: calc(50% - 20rem);
  }
}

@keyframes slide-down {
  from {
    opacity: 0;
    transform: translateY(-3rem);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.box {
  margin-left: 30px;
  background-color: red;
}
