html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  overflow: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

/* keyboard styles */
@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,600);

:root {
  --black: #000;
  --colour1: #222;
  --colour2: #333;
  --colour3: #444;
}
h4 {
  text-align: center;
  font-size: 30px;
}
.cover {
  background-color: var(--black);
  font: 300 12px "Open Sans", sans-serif;
  color: black;
  user-select: none;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px 0;
  height: 50vh;
}

.keyboard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 90%;
  height: 400px;
  min-width: 400px;
  max-width: 1024px;
}

.row {
  list-style-type: none;
  display: flex;
  padding: 0;
  margin: 0 0 7px;
  line-height: 50px;
}
.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}
.row li {
  flex: 1;
  margin: 0 6px 0 0;
  text-align: center;
  background: white;
  color: black;
  border-radius: 4px;
  transition: 0.1s;
  align-items: center;
  align-content: center;
  height: 57px;
  border: 2px solid rgba(0, 0, 0, 0.08);
  cursor: pointer;
}

li:active,
li.selected {
  transform: translateY(1px);
  background: var(--colour2);
  box-shadow: 0 1px 0 var(--black);
  animation: vibrate 0.3s linear infinite both;
}
.active {
  background: black !important;
  color: white !important;
  border: 1px solid white !important;
}
////Input.js
.bar {
  display: flex;
  justify-content: center;
  width: 70% !important;
  margin: 20px;
  margin-top: 25px;
}
.field {
  height: 12vh;

  display: flex;
  justify-content: center;
  align-items: center;
}
.btn-cover {
  margin-right: 200px;
  background: red;
}

//navbar
.nav {
  height: 10vh;
  width: 100%;
  background-color: #001d3d;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.btn {
  background: #ffd60a !important;
  padding-top: 10px !important;
  margin-left: 15px !important;
}
.git {
  padding: 15px !important;
}
h1 {
  color: white;
}

//text

.text-box {
  height: 22vh;
  // background: #ff5c8a;
  background: white;
  display: flex;
  flex-wrap: wrap;
  border: 2px solid black;
}

.text {
  margin: 10px 12px 0;
  font-size: 20px;
  font-family: sans-serif;
  &-active {
    color: red;
    text-transform: uppercase;
  }
}

h2 {
  text-align: center;
  color: #001d3d;
  font-size: 25px;
  background-color: yellow;
  border-radius: 10px;
  margin-bottom: 18px;
}
.modalBox {
  min-height: 420px;
  border-radius: 10px;
  border: 1px solid black;
  background: #d8e2dc;
  // overflow-y: scroll;
}
.md {
  margin-top: 70px;
  display: flex;
  flex-direction: column;
}
.md li {
  padding-bottom: 40px;
  font-size: 20px;
  font-family: sans-serif;
}
h3 {
  text-align: center;
}
.btnOk {
  margin-top: 10px !important;
  width: 20% !important;
  display: inline-block !important;
  // color: red !important;
}
.d {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px 0;
}
.time {
  height: 6vh;
  // background-color: red;
}
.time .box {
  display: inline;
  border: 1px solid black;
  // background-color: red;
  padding: 1px 7px;
  // margin-left: 200px;
  font-size: 30px;
}
.burger {
  display: none;
  & span {
    display: none;
  }
}

.last {
  display: none !important;
}
@media (max-width: 750px) {
  .text-box {
    // background: red;
    height: 50vh;
  }
  .cover {
    display: none;
  }
  .btn {
    display: none !important;
  }

  .last {
    display: block !important;
    padding: 2px 3px;
    font-size: 20px;
  }
  .burger {
    // background:red;
    display: block;
    // height: 100%;
  }
  h1 {
    font-size: 30px;
    padding: none;
  }
  .nav {
    flex-direction: space-between;
  }
  .field {
    margin-top: 70px;
  }
  .d {
    position: relative;
  }
  .btnOk {
    bottom: 20px;
    position: absolute;
    display: block !important;
    margin-bottom: 50px !important;
  }
}
